html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Poppins', serif;
}

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.montserrat-variable {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: normal;
}

.volkhov-bold {
  font-family: 'Volkhov', serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-variable {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 300 800;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:focus,
a:active {
  /* color: rgb(0, 0, 0); */
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

picture {
  display: block;
}

button {
  border: none;
}

input:focus-visible {
  border: none;
}
