body {
  background: url(../img/svg/Decore.svg) top right no-repeat;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #5e6282;
}

.title {
  font-family: 'Volkhov', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  color: #14183e;
}

/* HEADER STYLES START */

.header {
  padding: 48px 0;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo-thumb {
  width: 115px;
  height: 34px;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__item {
  color: #212832;
  padding: 9px 21px;
  font-family: 'Open Sans', serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.header__item:hover .header__item-link {
  text-decoration: underline;
}

.header__item--special {
  border: 2px #212832 solid;
  border-radius: 5px;
}

.header__item-link {
  font-family: inherit;
}

/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
  padding: 82px 0 222px;
}
.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero__header {
  margin-bottom: 30px;
  max-width: 550px;
}

.hero__header-text {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #df6951;
}

.hero__title {
  font-family: 'Volkhov', serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
}

.hero__article {
  margin-bottom: 34px;
  max-width: 470px;
}

.hero__article-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #4c4f66;
  opacity: 1.2;
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero__btn {
  background-color: #f1a501;
  padding: 19px 28px;
  border-radius: 10px;
  color: #ffffff;
  font-family: 'Open Sans', serif;
  box-shadow: 0px 20px 35px 0px #f1a50126;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.9px;
  margin-right: 44px;
}

.hero__btn:hover {
  background-color: #c58700;
}

.hero__btn-play {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #df6951;
  box-shadow: 0px 15px 30px 0px #df69514d;
  margin-right: 21px;
  position: relative;
}

.hero__btn-play:hover {
  cursor: pointer;
  background-color: #b64b36;
}

.hero__btn-triangle {
  width: 15px;
  height: 15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid #ffffff;
  transform: rotate(90deg) translateY(-18px);
}

.hero__buttons-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  color: #686d77;
}

.hero__img {
  width: 570px;
  position: relative;
}

.hero__thumb {
  position: absolute;
  width: 130%;
  top: -120px;
  left: -140px;
}

/* HERO STYLES END */

/* SERVICES STYLES START */

.services {
  margin-bottom: 156px;
}

.services__header {
  text-align: center;
  margin-bottom: 68px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  justify-content: center;
}

.services__inner {
  position: relative;
}

.services__item {
  position: relative;
  z-index: 100;
  padding: 149px 42px 45px;
  border-radius: 36px;
  text-align: center;
  background-color: #ffffff;
}

.services__item-tab {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: -33px;
  left: -35px;
  width: 100px;
  height: 100px;
  background-color: #df6951;
  border-radius: 30px 0px 10px 0px;
  transition: 0.1s all;
}

.services__img {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.services__img--special {
  top: 0;
  width: 166.87px;
}

.services__item-title {
  margin-bottom: 15px;
  font-family: 'Open Sans', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  color: #1e1d4c;
}

.services__item-text {
  width: 181px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #5e6282;
}

.services__item:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 1.85px 3.15px 0px #00000001;

  box-shadow: 0px 8.15px 6.52px 0px #00000002;

  box-shadow: 0px 20px 13px 0px #00000003;

  box-shadow: 0px 38.52px 25.48px 0px #00000003;

  box-shadow: 0px 64.81px 46.85px 0px #00000004;

  box-shadow: 0px 100px 80px 0px #00000005;
}

.services__inner:hover > .services__item-tab {
  visibility: visible;
}

/* SERVICES STYLES END */

/* PLACES STYLES START */

.places {
  margin-bottom: 186px;
}

.places__header {
  text-align: center;
  margin-bottom: 60px;
}

.places__container {
  display: flex;
  justify-content: space-between;
}

.places__item {
  position: relative;
  width: 315px;
  height: 457px;
  border-radius: 24px;
  box-shadow: 0px 1.85px 3.15px 0px #00000001;

  box-shadow: 0px 8.15px 6.52px 0px #00000002;

  box-shadow: 0px 20px 13px 0px #00000003;

  box-shadow: 0px 38.52px 25.48px 0px #00000003;

  box-shadow: 0px 64.81px 46.85px 0px #00000004;

  box-shadow: 0px 100px 80px 0px #00000005;
}

.places__item:hover .places__thumb {
  transform: scale(1.1);
}

.places__img {
  width: 315px;
  height: 457px;
  overflow: hidden;
  border-radius: 24px;
}

.places__thumb {
  object-fit: cover;
  width: 315px;
  height: 457px;
  transition: 0.3s;
}

.places__item-article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 25px 37.07px 20px;
  background-color: white;
  border-radius: 0 0 22px 22px;
}

.places__item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.places__item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.41px;
  color: #5e6282;
}

.places__item-price {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.41px;
  color: #5e6282;
}

.places__item-time {
  line-height: 20px;
  color: #5e6282;
}

.places__item-time::before {
  margin-right: 14px;
  align-self: start;
  display: inline-block;
  content: url(../img/place-cursor-icon.svg);
  width: 20px;
  height: 20px;
}

/* PLACES STYLES END */

/* GUIDE STYLES START */

.guide {
  margin-bottom: 200px;
}

.guide__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guide__inner {
  max-width: 511px;
}

.guide__header {
  margin-bottom: 31px;
}

.guide__articles {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.guide__article {
  display: flex;
  gap: 21px;
  max-width: 395px;
}

.guide__article-img {
  margin-top: 8px;
  width: 47px;
  height: 48px;
}

.guide__article-title {
  font-weight: 700;
  line-height: 19.92px;
  color: #5e6282;
  margin-bottom: 5px;
}

.guide__article-text {
  line-height: 19.92px;
  color: #5e6282;
}

/* GUIDE CARD STYLES START */

.guide__card {
  max-width: 370px;
  max-height: 400;
  border-radius: 26px;
  background-color: white;
  padding: 20px 25px;
  box-shadow: 0px 1.85px 3.15px 0px #00000001;

  box-shadow: 0px 8.15px 6.52px 0px #00000002;

  box-shadow: 0px 20px 13px 0px #00000003;

  box-shadow: 0px 38.52px 25.48px 0px #00000003;

  box-shadow: 0px 64.81px 46.85px 0px #00000004;

  box-shadow: 0px 100px 80px 0px #00000005;
}

.card__img {
  max-width: 320px;
  max-height: 160px;
  border-radius: 26px;
  overflow: hidden;
  margin-bottom: 26px;
}

.card__thumb {
  object-fit: cover;
}

.card__title {
  font-size: 18px;
  line-height: 22.41px;
  letter-spacing: 1.5%;
  color: #080809;
  margin-bottom: 13px;
}

.card__info {
  line-height: 19.92px;
  color: #84829a;
  margin-bottom: 21px;
}

.card__help {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

.card__help-item {
  width: 36px;
  height: 36px;
}

.card__review {
  display: flex;
  justify-content: space-between;
}

.card__people {
  line-height: 19.92px;
  color: #84829a;
}

.card__people::before {
  margin-right: 15px;
  align-self: start;
  display: inline-block;
  content: url(../img/svg/building-icon.svg);
  width: 16px;
  height: 16px;
}

.card__like {
  width: 20px;
  height: auto;
}
/* GUIDE CARD STYLES END */

/* GUIDE STYLES END */
